<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarExample01"
      aria-controls="navbarExample01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" >
          <h3 class="text-white">Algonomia</h3>
        </li>
        <li class="nav-item" *ngFor="let url of urls">
          <a class="nav-link text-white" routerLink="{{url.href}}">{{url.title}}</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
