<div class="flex-center mt-3">
  <app-input-search (messageEvent)="receiveMessage($event)"></app-input-search>
</div>
<table class="table mt-5">
  <thead class="blue white-text">
  <tr>
    <th scope="col">id</th>
    <th scope="col">name</th>
    <th scope="col">date_of_dead</th>
    <th scope="col">date_of_birth</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let king of kings | searchFilter : message">
    <th scope="row">{{king.id}}</th>
    <td>{{king.name}}</td>
    <td>{{king.date_of_dead}}</td>
    <td>{{king.date_of_birth}}</td>
  </tr>
  </tbody>
</table>
